import(boot, stats, graphics, utils)
importFrom(grDevices, xy.coords)

exportPattern(".")

S3method(extract, abund)
S3method(extract, escouf)
S3method(extract, regul)
S3method(extract, tsd)
S3method(extract, turnogram)
S3method(extract, turnpoints)

S3method(hist, regul)

S3method(identify, abund)
S3method(identify, escouf)
S3method(identify, local.trend)
S3method(identify, regul)
S3method(identify, turnogram)

S3method(lines, abund)
S3method(lines, escouf)
S3method(lines, regul)
S3method(lines, stat.slide)
S3method(lines, turnpoints)

S3method(plot, abund)
S3method(plot, escouf)
S3method(plot, regul)
S3method(plot, stat.slide)
S3method(plot, tsd)
S3method(plot, turnogram)
S3method(plot, turnpoints)

S3method(print, abund)
S3method(print, escouf)
S3method(print, regul)
S3method(print, specs.regul)
S3method(print, specs.tsd)
S3method(print, stat.slide)
S3method(print, tsd)
S3method(print, turnogram)
S3method(print, turnpoints)

S3method(print, summary.abund)
S3method(print, summary.escouf)
S3method(print, summary.regul)
S3method(print, summary.tsd)
S3method(print, summary.turnogram)
S3method(print, summary.turnpoints)

S3method(specs, regul)
S3method(specs, tsd)

S3method(summary, abund)
S3method(summary, escouf)
S3method(summary, regul)
S3method(summary, tsd)
S3method(summary, turnogram)
S3method(summary, turnpoints)
